@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.nav-link {
  position: relative;
  right: 20px;
  padding-right: 60px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #00BCD4 !important;
}

@media (max-width: 767px) {
  #side {
    display: block !important;
  }

  #com {
    display: none !important;
  }

  .cert {
    flex-direction: column;
  }
}

.d-flex.side {
  display: none !important;
}

#side a {
  font-size: 25px;
}

.nav-link:hover {
  color: #FF6F61 !important;
}

#nav {
  background-color: #1C1C1C !important;
  /* box-shadow: #f7258582 0 3px; */
}

body {
  background-color: #2A2A2A !important;
}

.navbar-brand {
  position: relative;
  left: 91px;
  color: #00BCD4 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px !important;
}

.navbar-brand span {
  color: #FF6F61  !important;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px !important;
}

#com {
  margin-left: 20px !important;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
