#sec {
  margin-top: 66px !important;
  z-index: 2;
  position: relative;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

@media (max-width: 767px) {
  #img svg {
    right: 0 !important;
  }
  #res {
    flex-direction: column-reverse !important;
  }
  #img {
    justify-content: center;
  }
  #maz {
    padding-left: 40px !important;
  }
  #header {
    text-align: center;
    font-size: 25px !important;
  }
  #par {
    text-align: center;
    font-size: 20px !important;
  }
  .icons {
    display: flex;
    flex-direction: column;
  }
  #header span {
    font-size: 19px !important;
  }
  #butt {
    width: 93px !important;
    left: 91px !important;
  }
  .text {
    top: -100px;
    position: relative;
  }
}
@media (max-width: 450px) {
  #img svg {
    right: 0 !important;
    bottom: 9px !important;
  }
  #maz img {
    width: 220px;
  }
  .text {
    top: 0px;
    position: relative;
  }
  #sec {
    margin-top: 0 !important;
  }
  #maz img {
    width: 248px !important;
    bottom: -50px !important;
    position: relative;
    padding-left: 20px;
  }

  .nav-link {
    padding: 0.4rem 0.9rem !important;
  }
  #res {
    flex-direction: column-reverse !important;
  }
  #img {
    justify-content: center;
  }
  #maz {
    padding-left: 0 !important;
  }
  #header {
    text-align: center;
    font-size: 25px !important;
  }
  #par {
    text-align: center;
    font-size: 20px !important;
  }
  #header span {
    font-size: 19px !important;
  }
  #butt {
    width: 93px !important;
    left: 91px !important;
  }
}
#root {
  overflow-x: hidden;
}
@media (max-width: 326px) {
  #maz img {
    width: 210px !important;
    bottom: -35px !important;
    position: relative;
    padding-left: 20px;
  }
}

@media (max-width: 285px) {
  #maz img {
    width: 181px !important;
    bottom: -35px !important;
    position: relative;
    padding-left: 20px;
  }
  .video {
    padding: 20px !important;
  }
}
@media (max-width: 376px) {
  #maz img {
    width: 222px !important;
    bottom: -35px !important;
    position: relative;
    padding-left: 20px;
  }
  #butt {
    width: 93px !important;
    left: 53px !important;
  }
}
#color {
  background :
  linear-gradient(180deg, #121212 31%, #010332 100%);
position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
#header {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #00BCD4;
}
#header span {
  font-size: 25px;
  color: #FF6F61;
}
.icons {
  display: flex;
  flex-direction: column;
  left: 3px;
  top: 40%;
  position: absolute;
  z-index: 999;
}
#par {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #fff;
}
.tex {
  margin-top: 0.3rem !important;
  color: #E0E0E0;
}
.namw {
  margin-bottom: 0.5rem !important;
}
#par #name {
  font-weight: 600;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  color: #FF6F61 !important;
}
#udacity {
  font-weight: 600;
  color: #00BCD4 !important;
  font-family: "Dancing Script", cursive;
}
.hvr-bounce-to-left:before {
  background-color: #00BCD4 !important;
}
#butt {
  width: 150px;
  position: relative;
  left: 100px;
  transition: 1s;
}

#butt:hover {
  color: #000;
}
#test {
  width: 50%;
}
#img {
  width: 100%;
}
.fa-snowflake ,.fa-star {
	color: #ecf2f8;
}

.snow {
	width: 100%;
	height: 100%;
	position: absolute;
  z-index: 1;
}

.snowflake {
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 200px;
	z-index: 7;
	filter: blur(0.5px);
}

.snowflake1 {
	animation-name: fall, shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 1s, 1s;
	z-index: 7;
	filter: blur(0.5px);
}

.snowflake2 {
	animation-name: fall, shake;
	animation-duration: 8s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 20px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;
	filter: blur(0.5px);
}

.snowflake3 {
	animation-name: fall, shake;
	animation-duration: 9s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 170px;
	top: -100px;
	animation-delay: 3s, 5s;
	z-index: 5;
	filter: blur(0.7px);
}

.snowflake4 {
	animation-name: fall, shake;
	animation-duration: 15s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 430px;
	top: -100px;
	animation-delay: 4s, 4s;
	z-index: 5;
}

.snowflake5 {
	animation-name: fall, shake;
	animation-duration: 15s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 6s, 2s;
	font-size: 2rem;
	z-index: 6;
	filter: blur(0.5px);
}

.snowflake6 {
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 75px;
	top: -100px;
	animation-delay: 3.2s, 2s;
	font-size: 2rem;
	z-index: 6;
}

.snowflake7 {
	animation-name: fall, shake;
	animation-duration: 11s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 650px;
	top: -100px;
	animation-delay: 7.2s, 1s;
	z-index: 7;
}

.snowflake8 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 820px;
	top: -100px;
	animation-delay: 4s, 2s;
	font-size: 2rem;
	z-index: 5;
	filter: blur(0.5px);
}

.snowflake9 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 170px;
	top: -100px;
	animation-delay: 5s, 2s;
	font-size: 2rem;
	z-index: 5;
	filter: blur(0.3px);
}

.snowflake10 {
	animation-name: fall, shake;
	animation-duration: 15s, 9s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 350px;
	top: -100px;
	animation-delay: 2.7s, 2s;
	font-size: 3rem;
	z-index: 7;
}

.snowflake11 {
	animation-name: fall, shake;
	animation-duration: 12s, 7s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 400px;
	top: -100px;
	animation-delay: 0.5s, 2s;
	font-size: 3rem;
	z-index: 7;
}

.snowflake12 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 470px;
	top: -100px;
	animation-delay: 5s, 2s;
	z-index: 7;
	filter: blur(0.9px);
}

.snowflake13 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 220px;
	top: -100px;
	animation-delay: 1s, 2s;
	z-index: 7;
	filter: blur(0.6px);
}

.snowflake14 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 9s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 140px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;
	filter: blur(0.5px);
}

@keyframes fall {
	0% {
		top: -10%;
	}

	100% {
		top: 100%;
	}
}

#img svg {
  width: 430px;
  position: relative;
  bottom: 100px;
  right: -10px;
  animation: svg 3s linear infinite;
}
@keyframes svg {
  50% {
    right: 10px;
  }
}
.text {
  width: 100%;
}
#maz {
  position: absolute;
  top: 40px;
  rotate: 364deg;
  padding-left: 110px;
  animation: movepic 3s linear infinite;
}
#maz img {
  width: 289px;
}
@keyframes movepic {
  50% {
    top: 10px;
  }
}
.icons {
  display: flex;
}
.icons i {
  margin-top: 10px !important;
  margin-right: 10px !important;
  font-size: 25px;
  color: #00BCD4;
  border: 2px solid #00BCD4;
  border-radius: 50%;
  padding: 5px;
  transition: 0.5s;
}
.icons i:hover {
  background-color: #00BCD4;
  color: #7209b7;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3px;
}
.avtar-pic {
  width: 100px;
  cursor: pointer;
}
#text-av {
  color: #FF6F61;
  animation: text 1s linear infinite;
  position: relative;
}
@keyframes text {
  50% {
    color: #00BCD4;
    bottom: 10px;
  }
}
.contain-video,
.contain-video-skils {
  width: 300px;
  height: 200px;
  /* background-color: #FF6F61; */
  margin-bottom: 10px;
  position: relative;
  bottom: 50px;
  display: none;
  transition: 2s;
}
.contain-video.active,
.contain-video-skils.active {
  display: block;
}
.contain-video-skils {
  bottom: 20px;
}
.avtar-en {
  width: 60px;
  cursor: pointer;
}
.scroller {
  background-color: #FF6F6182;
  width: 0;
  height: 4px;
  position: fixed;

  left: 0;
  z-index: 99999;
}

.button {
  position: relative;
  padding: 4px 16px;
  font-size: 1.2rem;
  color: var(--color);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(--color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}

.button span {
  position: absolute;
 
  pointer-events: none;
  border-radius: 2px;

  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
  animation: show 1s linear infinite;

}

.button:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.button span:nth-child(1),
.button span:nth-child(3) {
  width: 20px;
  height: 4px;
      
}

.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateX(0);
}

.button span:nth-child(2),
.button span:nth-child(4) {
  width: 4px;
  height: 20px;

}
@keyframes show {
  50% {
    box-shadow: 0 0 10px var(--color), 0 0 20px var(--color), 0 0 30px var(--color), 0 0 50px var(--color), 0 0 100px var(--color);
    background: var(--color);
  }
}
.button:hover span:nth-child(1),
.button:hover span:nth-child(3) {
  transform: translateY(0);
}

.button span:nth-child(1) {
  top: calc(50% - 2px);
  left: -30px;
  transform-origin: left;
}

.button:hover span:nth-child(1) {
  left: 50%;
}

.button span:nth-child(3) {
  top: calc(50% - 2px);
  right: -30px;
  transform-origin: right;
}

.button:hover span:nth-child(3) {
  right: 50%;
}

.button span:nth-child(2) {
  left: calc(50% - 2px);
  top: -30px;
  transform-origin: top;
}

.button:hover span:nth-child(2) {
  top: 50%;
}

.button span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -30px;
  transform-origin: bottom;
}

.button:hover span:nth-child(4 ) {
  bottom: 50%;
}
.mb{
  margin-top: 35px;
}.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  position: absolute;
  opacity: 0.5;
  animation: move 10s infinite linear;
}

.small-circle {
  width: 50px;
  height: 50px;
  background-color: #ff6347;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  animation-duration: 12s;
}

.small-square {
  width: 40px;
  height: 40px;
  background-color: #4682b4;
  top: 50%;
  left: 70%;
  transform: rotate(45deg);
  animation-duration: 15s;
}

.small-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #32cd32;
  top: 30%;
  left: 40%;
  animation-duration: 18s;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-20px) translateX(30px);
  }
  50% {
    transform: translateY(30px) translateX(-20px);
  }
  75% {
    transform: translateY(-30px) translateX(-30px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
}